body {
  background: linear-gradient(135deg, #2c3e50, #4b4b4b, #2c3e50);
  /* background: linear-gradient(135deg, #0f0c29, #302b63, #24243e); */
}

* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

/* Estilo para garantir que o footer fique fixo no fundo */
.fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.text-blue-light {
  color: #80ebf3;
  
}

.active {
  border-bottom: .2rem solid #80ebf3;
}

.bg-turquoise {
  background-color: #80ebf3;
}


